<nav class="navbar navbar-expand-lg navbar-light bg-dark">
      
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
            <a class="nav-link active " routerLink="home"> Home </a>
            <a class="nav-link active"  routerLink="add"> Add Restaurant </a>
            <a class="nav-link active " routerLink="update"> Update Restaurant </a>
            <a class="nav-link active"  routerLink="show"> Show Restaurants </a>
            <button class="btn btn-outline-primary" type="submit"  routerLink="user"> Signin </button>
            
      </div>
</nav>

<router-outlet></router-outlet>

